{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }} - My Article
{% endblock %}
{% block content %}
    {% for article in articles %}
                <article class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                    <header>
                        <h1><a href="article.php?id={{ article.id }}">{{ article.title }}</a></h1>
                            <img title="{{ article.title }}" alt="{{ article.title }}" src="{{ article.image }}">
                        <small>Written by {{ article.user_id }} on {{ article.created_at }}</small>
                    </header>
                <div class="content">
                  <p>{{ article.content }}</p>
                  </div>
                <footer>
                    <p>Posted in category: <a href="article.php?id={{ article.category_id }}">{{ article.category_id }}</a></p>
                    <p><a href="tags.php?id={{ article.tag_id }}"><span class="label label-primary">Primary</span></a></p>
                    </footer>
               </article>
    {% endfor %}
{% endblock %}
